@model IEnumerable<Hospital.Models.DataBase.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doctor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.department_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.department_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDoctor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDoctor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDoctor })
        </td>
    </tr>
}

</table>
