@model Hospital.Models.DataBase.Operation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.procedure_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedure_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procedure_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedure_cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idprocedure }) |
    @Html.ActionLink("Back to List", "Index")
</p>
