@model IEnumerable<Hospital.Models.DataBase.UOM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UOM_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity_per_UOM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UOM_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity_per_UOM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUOM }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUOM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUOM })
        </td>
    </tr>
}

</table>
