@model IEnumerable<Hospital.Models.DataBase.Patient>

@{
    ViewBag.Title = "Patients";
}

<h2>Patients List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_NOK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_NOK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOK_Relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_NOK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_NOK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOK_Relationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPatient }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPatient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPatient })
        </td>
    </tr>
}

</table>
