@model Hospital.Models.DataBase.Prescription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prescription_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prescription_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prescriptioncol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prescriptioncol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit.patientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit.patientID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPrescription }) |
    @Html.ActionLink("Back to List", "Index")
</p>
