@model IEnumerable<Hospital.Models.DataBase.Lab_test_results>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lab_test_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab_header.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab_test_lines.Lab_test_UOM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lab_test_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab_header.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab_test_lines.Lab_test_UOM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLab_test }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLab_test }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLab_test })
        </td>
    </tr>
}

</table>
